services:
  # DATABASE
  database:
    container_name: database
    image: postgres:17-bookworm
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 30s
    restart: always
    volumes:
      - ./.postgres_db:/var/lib/postgresql/data/
    networks:
      - appnet

  # BACKEND
  backend:
    container_name: backend
    build: ./backend
    depends_on:
      database:
        condition: service_healthy
        restart: true
    restart: unless-stopped
    ports:
      - "8000:80"
    env_file:
      - .env
    volumes:
      - ./backend/app:/code/app
    command: [
      "uvicorn",
      "app.admin_panel:app",
      "--host", "0.0.0.0",
      "--port", "80",
      "--reload",
      "--proxy-headers"
    ]
    networks:
      - appnet

  # FRONTEND
  frontend:
    container_name: frontend
    build: ./frontend
    command: [ "yarn", "dev", "--host", "0.0.0.0" ]
    ports:
      - "3000:3000"
    env_file:
      - ./frontend/.env
    volumes:
      - ./frontend/src:/app/src
      - /app/node_modules
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - appnet

  # NGINX (Reverse Proxy)
  nginx:
    image: nginx:1.28.0-alpine3.21
    container_name: nginx
    ports:
      - "4000:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      # - ./frontend/dist:/usr/share/nginx/html:ro   # utile si tu sers le build statique
    depends_on:
      - frontend
      - backend
      - keycloak
    restart: always
    networks:
      - appnet

  # --- KEYCLOAK DB (séparée) ---
  keycloak-db:
    image: postgres:17-bookworm
    container_name: keycloak-db
    environment:
      POSTGRES_USER: kc_user
      POSTGRES_PASSWORD: kc_password
      POSTGRES_DB: keycloak
    volumes:
      - ./.postgres_kc:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U kc_user -d keycloak"]
      interval: 10s
      timeout: 10s
      retries: 10
      start_period: 30s
    restart: always
    networks:
      - appnet

  # --- KEYCLOAK ---
  keycloak:
    image: quay.io/keycloak/keycloak:26.4.0
    container_name: keycloak
    depends_on:
      keycloak-db:
        condition: service_healthy
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin

      # DB
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://keycloak-db:5432/keycloak
      KC_DB_USERNAME: kc_user
      KC_DB_PASSWORD: kc_password

      # <<< IMPORTANT derrière Nginx >>>
      # 1) URL publique EXACTE (avec /auth) vue par le navigateur
      # KC_HOSTNAME: http://localhost:4000/auth/
      KC_HOSTNAME: http://localhost:4000/auth
      # 2) Keycloak doit interpréter les X-Forwarded-*
      KC_PROXY_HEADERS: xforwarded
      # 3) On parle en HTTP entre Nginx -> Keycloak (port 8080)
      KC_HTTP_ENABLED: "true"
      # 4) Keycloak sert lui-même sous /auth (aligne le contexte)
      KC_HTTP_RELATIVE_PATH: /auth
      # 5) Tant qu’on est en dev, pas de strict hostname
      KC_HOSTNAME_STRICT: "false"
    command: ["start-dev"]
    ports:
      - "8080:8080"   # debug optionnel
    restart: unless-stopped
    volumes:
      - ./frontend/dist_keycloak/keycloak-theme-for-kc-all-other-versions.jar:/opt/keycloak/providers/keycloak-theme-for-kc-all-other-versions.jar
    networks:
      - appnet


networks:
  appnet:
    name: time_manager_net
