services:
  # DATABASE
  database:
    container_name: database
    image: postgres:17-bookworm
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 30s
    restart: always
    volumes:
      - ./.postgres_db:/var/lib/postgresql/data/

  # BACKEND
  backend:
    container_name: backend
    build: ./backend
    depends_on:
      database:
        condition: service_healthy
        restart: true
    restart: unless-stopped
    ports:
      - "8000:80"
    env_file:
      - .env
    volumes:
      - ./backend/app:/code/app
    command: [
     "uvicorn",
     "app.admin_panel:app",
     "--host", "0.0.0.0",
     "--port", "80",
     "--reload",
     "--proxy-headers"
      ]
      
  # FRONTEND
  frontend:
    container_name: frontend
    build: ./frontend
    command: [ "yarn", "dev", "--host", "0.0.0.0" ]
    ports:
      - "3000:3000"
    env_file:
      - ./frontend/.env
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    restart: unless-stopped

  # NGINX (Reverse Proxy)
  # nginx:
  #   container_name: nginx
  #   image: nginx:1.28.0-alpine3.21
  #   depends_on:
  #     - frontend
  #     # - ++ak
  #   ports:
  #     - "80:80"
  #   restart: always
  #   command: [ "nginx", "-g", "daemon off;", "-c", "/etc/nginx/nginx.conf" ]
  #   volumes:
  #     - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro

  nginx:
    image: nginx:1.28.0-alpine3.21
    container_name: nginx
    ports:
      - "4000:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./frontend/dist:/usr/share/nginx/html:ro
    depends_on:
      - frontend
      - backend
    restart: always
